## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## IDEA
.idea/*

## RVM
.rvmrc

## RBENV
.rbenv*

## PROJECT::GENERAL
coverage
rdoc
pkg
Gemfile.lock

## PROJECT::SPECIFIC
tmp
